Repository saifrashed/sustainability-dashboard: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_be, deploy_fe

deploy_be:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - git branch -D splitting-server || true
  - git remote rm heroku-server-app || true
  - git remote add heroku-server-app https://heroku:$HEROKU_API_KEY@git.heroku.com/hbo-ict-be-app-staging1.git || true
  ...

deploy_fe:
  stage: deploy
  image: node:latest
  tags:
  - hva
  script:
  - git branch -D splitting-client || true
  - git remote rm heroku-client-app || true
  - git remote add heroku-client-app https://heroku:$HEROKU_API_KEY@git.heroku.com/hbo-ict-fe-app-staging1.git || true
  ...

fixed client
  client/angular.json
  client/package.json
  client/src/app/app.module.ts
  client/src/app/components/views/application/admin-screens/admin-profile/admin-profile.component.html
  client/src/app/components/views/application/admin-screens/admin-statistic/admin-statistic.component.html
  client/src/app/components/views/application/admin-screens/admin/admin.component.ts
Due: deploy_fe

fixed the main source
  client/angular.json
  client/package.json
  client/server.js
  client/src/app/app.module.ts
  client/src/app/components/views/application/admin-screens/admin-profile/admin-profile.component.html
  client/src/app/components/views/application/admin-screens/admin-statistic/admin-statistic.component.html
  client/src/app/components/views/application/admin-screens/admin-survey/admin-survey.component.html
  client/src/app/components/views/application/admin-screens/admin/admin.component.ts
  client/src/app/components/views/application/survey-question/survey-question.component.html
  client/src/app/components/views/application/survey/survey.component.css
  client/src/app/components/views/application/survey/survey.component.html
Due: deploy_fe

admin statistics graph
  client/src/app/app.module.ts
  client/src/app/components/views/application/admin-screens/admin-statistic/admin-statistic.component.html
  client/src/app/components/views/application/admin-screens/admin/admin.component.html
  client/src/app/components/views/application/admin-screens/admin/admin.component.ts
Due: deploy_fe

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

updated package json
  client/angular.json
  client/package.json
Due: deploy_fe

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

test cd/ci
  server/src/main/java/com/sustainability/models/Survey.java
Due: deploy_be

test commit
  server/src/main/java/com/sustainability/models/Survey.java
Due: deploy_be

backend test
  server/src/main/java/com/sustainability/models/Survey.java
Due: deploy_be

cd/ci test two
  server/src/main/java/com/sustainability/models/Survey.java
Due: deploy_be

test again
  server/src/main/java/com/sustainability/models/Survey.java
Due: deploy_be

client cd\ci test
  client/src/app/components/views/application/admin-screens/admin/admin.component.ts
Due: deploy_fe

added dynamic routes and server.js
  client/angular.json
  client/package.json
  client/server.js
  client/src/app/_services/authentication.service.ts
  client/src/app/_services/survey.service.ts
  client/src/app/_services/surveyResponse.service.ts
  client/src/app/_services/user.service.ts
  client/src/app/components/views/application/admin-screens/admin/admin.component.ts
Due: deploy_fe

test
  client/server.js
  server/src/main/java/com/sustainability/models/Survey.java
Due: deploy_be, deploy_fe

testtwo
  client/server.js
Due: deploy_fe

testThree
  client/server.js
Due: deploy_fe

testFour
  client/server.js
Due: deploy_fe

testFive
  client/server.js
Due: deploy_fe

client test
  client/server.js
Due: deploy_fe

test five
  client/server.js
Due: deploy_fe

test
  client/server.js
Due: deploy_fe

tets five
  client/server.js
Due: deploy_fe

Path conditions:
  deploy_be: any of: server/**/*
  deploy_fe: any of: client/**/*
