Repository saifrashed/sustainability-dashboard: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_be, deploy_fe

.gitlab-ci.yml:

stages:
    - deploy

deploy_be:
    stage: deploy
    image: node:latest
    tags:
        - hva
    only:
        refs:
            - main
        changes:
          - "server/**/*"  
    script:
        - git branch -D splitting-server || true        
        - git remote rm heroku-server-app || true
        - git remote add heroku-server-app https://heroku:7407c96c-7584-471d-8690-66905f00176a@git.heroku.com/sustainability-server.git || true
        - git fetch --all --unshallow
        - git subtree split --prefix heroku-server-app -b splitting-server
        - git push --force heroku-server-app splitting-server:master



deploy_fe:    
    stage: deploy
    image: node:latest
    tags:
        - hva
    only:
        refs:
            - main
        changes:
          - "client/**/*"  
    script:
        - git branch -D splitting-client || true        
        - git remote rm heroku-client-app || true
        - git remote add heroku-client-app https://heroku:7407c96c-7584-471d-8690-66905f00176a@git.heroku.com/sustainability-client.git || true
        - git fetch --all --unshallow
        - git subtree split --prefix heroku-client-app -b splitting-client
        - git push --force heroku-client-app splitting-client:master

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

test seven
  client/server.js
Due: deploy_fe

test cd\ci
  client/package.json
  server/src/main/java/com/sustainability/models/Survey.java
Due: deploy_be, deploy_fe

reseted testing files for further use in the future
  client/karma.conf.js
  client/src/app/_models/survey.ts
  client/src/app/_services/survey.service.ts
  client/src/app/app.component.html
  client/src/app/app.component.spec.ts
  client/src/app/app.component.ts
  client/src/app/components/views/application/admin-screens/admin-survey/admin-survey.component.html
  client/src/app/components/views/application/admin-screens/admin/admin.component.spec.ts
  client/src/app/components/views/application/admin-screens/admin/admin.component.ts
  client/src/app/components/views/application/application-layout/application.component.spec.ts
  client/src/app/components/views/application/faculty/faculty.component.spec.ts
  client/src/app/components/views/application/survey-question/survey-question.component.spec.ts
  client/src/app/components/views/application/survey/survey.component.spec.ts
  client/src/app/components/views/authentication/login/login.component.spec.ts
  client/src/app/components/views/main/main-layout/main.component.spec.ts
  client/src/environments/environment.prod.ts
  client/tsconfig.spec.json
  server/src/main/java/com/sustainability/controllers/SurveyController.java
Due: deploy_be, deploy_fe

ng build production
  client/angular.json
  client/package.json
  client/src/app/components/views/application/admin-screens/admin-profile/admin-profile.component.html
  client/src/app/components/views/application/admin-screens/admin-profile/admin-profile.component.ts
  client/src/app/components/views/application/admin-screens/admin-statistic/admin-statistic.component.html
  client/src/app/components/views/application/admin-screens/admin-statistic/admin-statistic.component.ts
  client/src/app/components/views/application/admin-screens/admin-survey/admin-survey.component.html
  client/src/app/components/views/application/admin-screens/admin-survey/admin-survey.component.ts
  client/src/app/components/views/application/admin-screens/admin/admin.component.html
  client/src/app/components/views/application/admin-screens/admin/admin.component.ts
  server/src/main/java/com/sustainability/models/SurveyResponse.java
Due: deploy_be, deploy_fe

Added clusters to questions.
  client/src/app/_services/surveyResponse.service.ts
  client/src/app/components/views/application/admin-screens/admin-statistic/admin-statistic.component.ts
  client/src/app/components/views/application/admin-screens/admin-survey/admin-survey.component.html
  client/src/app/components/views/application/admin-screens/admin-survey/admin-survey.component.ts
  client/src/app/components/views/application/admin-screens/admin/admin.component.ts
  client/src/app/components/views/application/survey-question/survey-question.component.html
  server/src/main/java/com/sustainability/controllers/SurveyController.java
  server/src/main/java/com/sustainability/controllers/SurveyQuestionController.java
  server/src/main/java/com/sustainability/controllers/SurveyResponseController.java
  server/src/main/java/com/sustainability/models/SurveyQuestion.java
Due: deploy_be, deploy_fe

Added faculty charts
  client/src/app/_services/authentication.service.ts
  client/src/app/_services/survey.service.ts
  client/src/app/_services/surveyResponse.service.ts
  client/src/app/_services/user.service.ts
  client/src/app/components/views/application/admin-screens/admin-statistic/admin-statistic.component.html
  client/src/app/components/views/application/admin-screens/admin-statistic/admin-statistic.component.ts
  client/src/app/components/views/application/admin-screens/admin-survey/admin-survey.component.ts
  client/src/app/components/views/application/admin-screens/admin/admin.component.ts
  server/src/main/java/com/sustainability/controllers/AuthController.java
  server/src/main/java/com/sustainability/controllers/SurveyController.java
  server/src/main/java/com/sustainability/controllers/SurveyQuestionController.java
Due: deploy_be, deploy_fe

CRUD Questions implemented
  client/src/app/_services/survey.service.ts
  client/src/app/components/views/application/admin-screens/admin-survey/admin-survey.component.html
  client/src/app/components/views/application/admin-screens/admin-survey/admin-survey.component.ts
  server/src/main/java/com/sustainability/controllers/AuthController.java
  server/src/main/java/com/sustainability/controllers/SurveyController.java
  server/src/main/java/com/sustainability/controllers/SurveyQuestionController.java
  server/src/main/java/com/sustainability/controllers/SurveyResponseController.java
Due: deploy_be, deploy_fe

refined homepage
  client/src/app/components/views/main/home/home.component.html
Due: deploy_fe

Added 3 tests for loginComponent
  client/src/app/_services/authentication.service.spec.ts
  client/src/app/app-routing.module.ts
  client/src/app/app.module.ts
  client/src/app/components/views/authentication/authentication-layout/authentication.component.spec.ts
  client/src/app/components/views/authentication/login/login.component.html
  client/src/app/components/views/authentication/login/login.component.spec.ts
  client/src/app/components/views/authentication/login/login.component.ts
  client/src/app/components/views/authentication/register/register.component.css
  client/src/app/components/views/authentication/register/register.component.html
  client/src/app/components/views/authentication/register/register.component.spec.ts
  client/src/app/components/views/authentication/register/register.component.ts
  client/tsconfig.json
  server/src/main/java/com/sustainability/controllers/AuthController.java
Due: deploy_be, deploy_fe

programme level added
  client/src/app/_models/user.ts
  client/src/app/_services/authentication.service.ts
  client/src/app/_services/survey.service.ts
  client/src/app/_services/surveyResponse.service.ts
  client/src/app/components/views/application/admin-screens/admin-profile/admin-profile.component.html
  client/src/app/components/views/application/admin-screens/admin-profile/admin-profile.component.ts
  client/src/app/components/views/application/admin-screens/admin-statistic/admin-statistic.component.html
  client/src/app/components/views/application/admin-screens/admin-statistic/admin-statistic.component.ts
  client/src/app/components/views/application/admin-screens/admin-survey/admin-survey.component.html
  client/src/app/components/views/application/admin-screens/admin-survey/admin-survey.component.ts
  client/src/app/components/views/application/admin-screens/admin/admin.component.css
  client/src/app/components/views/application/admin-screens/admin/admin.component.ts
  client/src/assets/data/faculties.js
  client/src/assets/data/pillars.js
  client/src/assets/images/svg/no-statistic.svg
  docs/technical_documentation.doc
  server/src/main/java/com/sustainability/controllers/AuthController.java
  server/src/main/java/com/sustainability/controllers/SurveyResponseController.java
  server/src/main/java/com/sustainability/models/User.java
  server/src/main/java/com/sustainability/payload/request/SignupRequest.java
  server/src/main/java/com/sustainability/payload/response/JwtResponse.java
  server/src/main/java/com/sustainability/security/services/UserDetailsImpl.java
Due: deploy_be, deploy_fe

Initial Documentation
  README.md
  docs/UML-CLIENT.png
  docs/db_uml.png
  docs/deployment_diagram.png
  docs/draw.io/UML-CLIENT.drawio
  docs/draw.io/db_uml.drawio
  docs/draw.io/deployment_diagram.drawio
  docs/draw.io/erd.drawio
  docs/draw.io/flow.drawio
  docs/erd.png
  docs/flow.png
  docs/technical_documentation.doc
  docs/~$chnical_documentation.doc
Due: none

Update README.md
  README.md
Due: none

updated docs
  client/src/app/components/views/authentication/login/login.component.spec.ts
  docs/technical_documentation.doc
Due: deploy_fe

5 Backend Test 5 Frontend Tests (Saif Rashed)
  client/src/app/_services/authentication.service.spec.ts
  client/src/app/_services/authentication.service.ts
  client/src/app/components/views/authentication/login/login.component.spec.ts
  docs/technical_documentation.doc
  server/src/main/java/com/sustainability/SpringBootSecurityJwtMongodbApplication.java
  server/src/main/java/com/sustainability/controllers/AuthController.java
  server/src/test/java/com/sustainability/SpringBootSecurityJwtMongodbApplicationTests.java
  server/src/test/java/com/sustainability/TestAuthResource.java
Due: deploy_be, deploy_fe

added some documentations
  docs/UML-SERVER.png
  docs/draw.io/UML-SERVER.drawio
  docs/technical_documentation.doc
  server/src/main/java/com/sustainability/controllers/SurveyController.java
Due: deploy_be

updated documentation
  docs/technical_documentation.doc
  docs/~$chnical_documentation.doc
Due: none

Added relevant docs and pdf
  docs/assets/UML-CLIENT.png
  docs/assets/UML-SERVER.png
  docs/assets/db_uml.png
  docs/assets/deployment_diagram.png
  docs/assets/erd.png
  docs/assets/flow.png
  docs/assets/technical_documentation.doc
  docs/technical_documentation.doc
  docs/technical_documentation.pdf
  docs/~$chnical_documentation.doc
Due: none

fixed tests
  client/src/app/_services/authentication.service.spec.ts
  client/src/app/components/views/application/survey/survey.component.ts
Due: deploy_fe

test
  docs/technical_documentation.doc
Due: none

test
  client/src/app/app.component.ts
  docs/flow.png
Due: deploy_fe

quick fixes
  client/src/app/_services/authentication.service.spec.ts
  client/src/app/components/views/application/survey/survey.component.spec.ts
Due: deploy_fe

FE/BE Tests
  client/src/app/_services/authentication.service.spec.ts
  client/src/app/_services/survey.service.spec.ts
  client/src/app/_services/survey.service.ts
  client/src/app/components/views/application/survey/survey.component.spec.ts
  client/src/app/components/views/application/survey/survey.component.ts
  client/src/app/components/views/authentication/login/login.component.spec.ts
  server/src/main/java/com/sustainability/controllers/SurveyController.java
  server/src/test/java/com/sustainability/TestSurveyResource.java
Due: deploy_be, deploy_fe

added mongodb data
  client/src/app/_services/authentication.service.spec.ts
  client/src/app/_services/survey.service.spec.ts
  docs/data/roles.json
  docs/data/surveyQuestions.json
  docs/data/surveyResponse.json
  docs/data/surveys.json
  docs/data/users.json
  server/src/test/java/com/sustainability/TestSurveyResource.java
Due: deploy_be, deploy_fe
